.elementor-202
  .elementor-element.elementor-element-504fd6c:not(.elementor-motion-effects-element-type-background),
.elementor-202
  .elementor-element.elementor-element-504fd6c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-text);
}
.elementor-202 .elementor-element.elementor-element-504fd6c {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0% 3% 0% 3%;
}
.elementor-202
  .elementor-element.elementor-element-504fd6c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-202 .elementor-element.elementor-element-a385559 img {
  width: 75%;
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-menu-toggle {
  margin: 0 auto;
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu
  .elementor-item {
  font-family: "Roboto Condensed", Sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--main
  .elementor-item {
  color: var(--e-global-color-9fcfa4f);
  fill: var(--e-global-color-9fcfa4f);
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: var(--e-global-color-accent);
  fill: var(--e-global-color-accent);
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:before,
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:after {
  background-color: #0069df00;
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .e--pointer-framed
  .elementor-item:before,
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .e--pointer-framed
  .elementor-item:after {
  border-color: #0069df00;
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: var(--e-global-color-accent);
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item.elementor-item-active:before,
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item.elementor-item-active:after {
  background-color: #0069df00;
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .e--pointer-framed
  .elementor-item.elementor-item-active:before,
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .e--pointer-framed
  .elementor-item.elementor-item-active:after {
  border-color: #0069df00;
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .e--pointer-framed
  .elementor-item:before {
  border-width: 0px;
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .e--pointer-framed.e--animation-draw
  .elementor-item:before {
  border-width: 0 0 0px 0px;
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .e--pointer-framed.e--animation-draw
  .elementor-item:after {
  border-width: 0px 0px 0 0;
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .e--pointer-framed.e--animation-corners
  .elementor-item:before {
  border-width: 0px 0 0 0px;
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .e--pointer-framed.e--animation-corners
  .elementor-item:after {
  border-width: 0 0px 0px 0;
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .e--pointer-underline
  .elementor-item:after,
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .e--pointer-overline
  .elementor-item:before,
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .e--pointer-double-line
  .elementor-item:before,
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .e--pointer-double-line
  .elementor-item:after {
  height: 0px;
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--dropdown
  a,
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-menu-toggle {
  color: var(--e-global-color-9fcfa4f);
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--dropdown {
  background-color: var(--e-global-color-text);
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: var(--e-global-color-accent);
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-menu-toggle:hover {
  color: var(--e-global-color-accent);
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: var(--e-global-color-121a9dad);
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--dropdown
  a.elementor-item-active {
  color: var(--e-global-color-accent);
  background-color: var(--e-global-color-121a9dad);
}
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-202
  .elementor-element.elementor-element-22c8b20
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-family: "Roboto Condensed", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
:root {
  --page-title-display: none;
}
@media (max-width: 767px) {
  .elementor-202 .elementor-element.elementor-element-138252f {
    width: 80%;
  }
  .elementor-202 .elementor-element.elementor-element-a385559 {
    text-align: left;
  }
  .elementor-202 .elementor-element.elementor-element-f53d04b {
    width: 20%;
  }
}
@media (min-width: 768px) {
  .elementor-202 .elementor-element.elementor-element-138252f {
    width: 20%;
  }
  .elementor-202 .elementor-element.elementor-element-f53d04b {
    width: 80%;
  }
}
