.elementor-34912
  .elementor-element.elementor-element-607e376
  > .elementor-container {
  max-width: 1200px;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-eb6c3bb
  .plus-table__text,
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-eb6c3bb {
  text-align: left;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-a734687
  .plus-table__text,
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-a734687 {
  text-align: left;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-7d77f5f
  .plus-table__text,
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-7d77f5f {
  text-align: left;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-5c445dd
  .plus-table__text,
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-5c445dd {
  text-align: left;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-0843949
  .plus-table__text,
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-0843949 {
  text-align: left;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-391629b
  .plus-table__text,
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-391629b {
  text-align: left;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-15b8c88
  .plus-table__text,
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-15b8c88 {
  text-align: left;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-430c6b3
  .plus-table__text,
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-430c6b3 {
  text-align: left;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-fe443de
  .plus-table__text,
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-fe443de {
  text-align: left;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-3281b6a
  .plus-table__text,
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.elementor-repeater-item-3281b6a {
  text-align: left;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  th.plus-table-col {
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #19191900;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  thead
  .plus-table-row
  th
  .plus-table__text {
  color: var(--e-global-color-accent);
}
.elementor-34912 .elementor-element.elementor-element-66bf47f th {
  color: var(--e-global-color-accent);
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  tbody
  .plus-table-row
  th {
  color: var(--e-global-color-accent);
  background-color: var(--e-global-color-0e64143);
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  thead
  .plus-table-row
  th {
  background-color: var(--e-global-color-0e64143);
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td
  .plus-table__text,
.elementor-34912 .elementor-element.elementor-element-66bf47f td {
  text-align: center;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  .plus-table-row
  .plus-table-col {
  vertical-align: middle;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td
  .plus-table__text-inner,
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td
  .plus-align-icon--left,
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td
  .plus-align-icon--right,
.elementor-34912 .elementor-element.elementor-element-66bf47f td {
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  td.plus-table-col {
  padding: 15px 15px 15px 15px;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  tbody
  td.plus-table-col
  .plus-table__text,
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  tbody
  td.plus-table-col {
  color: var(--e-global-color-9fcfa4f);
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  tbody
  .plus-table-row {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #bbbbbb00;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  .plus-table-col
  .pt_plus_button
  .button-link-wrap {
  padding: 10px 30px 10px 30px;
  font-family: "Roboto Condensed", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  .pt_plus_button
  .button-link-wrap {
  color: var(--e-global-color-9fcfa4f);
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  .pt_plus_button.button-style-8
  .button-link-wrap {
  background-color: var(--e-global-color-accent);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: var(--e-global-color-155d66c);
  box-shadow: 3px 3px 0px 0px #191919;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  .pt_plus_button.button-style-8
  .button-link-wrap:hover {
  border-color: #313131;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  .plus-align-icon--left
  i {
  font-size: 30px;
  vertical-align: middle;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  .plus-align-icon--right
  i {
  font-size: 30px;
  vertical-align: middle;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  .plus-align-icon--left {
  margin-right: 10px;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  .plus-align-icon--right {
  margin-left: 10px;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  .plus-col-img--left {
  width: 30px;
  margin-right: 10px;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  .plus-col-img--right {
  width: 30px;
  margin-left: 10px;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  .plus-advance-heading
  select,
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  .plus-advance-heading
  input {
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #bbb;
  border-radius: 2px 2px 2px 2px;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  .plus-advance-heading
  .plus-tbl-search-wrapper
  input {
  width: 200px;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  .plus-advance-heading
  .plus-tbl-entry-wrapper
  select {
  width: 200px;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  .plus-advance-heading {
  margin-bottom: 15px;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  .tp-tooltip-on-icon {
  margin-left: 15px;
}
.elementor-34912
  .elementor-element.elementor-element-66bf47f
  .plus-table-wrapper
  .plus-table {
  overflow: visible;
}
@media (max-width: 1024px) {
  .elementor-34912
    .elementor-element.elementor-element-66bf47f
    .plus-table-col
    .pt_plus_button
    .button-link-wrap {
    width: 120px;
  }
}
@media (max-width: 767px) {
  .elementor-34912
    .elementor-element.elementor-element-66bf47f
    th.plus-table-col {
    font-size: 12px;
  }
  .elementor-34912
    .elementor-element.elementor-element-66bf47f
    td
    .plus-table__text-inner,
  .elementor-34912
    .elementor-element.elementor-element-66bf47f
    td
    .plus-align-icon--left,
  .elementor-34912
    .elementor-element.elementor-element-66bf47f
    td
    .plus-align-icon--right,
  .elementor-34912 .elementor-element.elementor-element-66bf47f td {
    font-size: 12px;
  }
  .elementor-34912
    .elementor-element.elementor-element-66bf47f
    .plus-table-col
    .pt_plus_button
    .button-link-wrap {
    width: 120px;
  }
}
